@page "/launch"
@inject BackendService _backend

<PageTitle>Launch Pad</PageTitle>

<button class="btn btn-primary" @onclick="async () => await LaunchSomething()">Launch</button>

@code {
    private async Task LaunchSomething()
    {
        await _backend.RunTestAsync();
    }
}
