@page "/launch"
@inject TestService _test

<PageTitle>Launch Pad</PageTitle>

<button class="btn btn-primary" @onclick="LaunchSomething">Launch</button>

@code {
    private async Task LaunchSomething()
    {
        await _test.RunAsync();
    }
}
